.deus-container {
    width: 50%;
    margin: 50px auto;
    border: solid #ffffff;
    
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
  
  }
  h2 {
    width: 100px;
    margin: 30px auto;
    text-align: center;
   

    
  }
  .deu {
    border-top: solid #d4d4d4;
    margin-top: 10px;
    padding-top: 20px;
  }
  
  .time {
    display: flex;
    justify-content: flex-end;
  }
body {
  background-image: url(image1.jpg);
  background-repeat: no-repeat;
  
}
.nav-link{
  font-size: 30px;
}

